* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: url(medicine.jpg);
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  float: left;
  margin-left: 95px;
  margin-top: 30px;
  background-color: white;
}
nav li {
  height: 50px;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  color: black;
}
img {
  width: 600px;
}
